 html,
 body {
     width: 100%;
     height: 100%;
     overflow: hidden;
 }
 
 body {
     background: url(WKRv3.jpg);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
 
 .nawigacja {
     border: 1px solid red;
     position: absolute;
     right: 0px;
     top: 0px;
 }
 
 .lewy {
     background-color: rgb(235,235,235);
     border: 1px solid red;
     position: fixed;
     width: 40%;
     height: inherit;
     
 }
 
#logo {
	position:absolute;
    top: 10px;
    left:10px;
    
}

#kontaktbutton {
	position: absolute;
    bottom: 10px;
    left:10px;
}

#kontaktbutton a:hover{
	background: rgba(255,255,255,1);
}
 .prawygora {
     border: 1px solid red;
     position: fixed;
     right: 0px;
     width: 60%;
     height: 50%;
 }
 
 .prawydol {
     border: 1px solid red;
     position: fixed;
     bottom: 0px;
     right: 0px;
     width: 60%;
     height: 50%;
 }